<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<DbProviders>
		<DbProvider>
			<Name>SQLServer</Name>
			<DbAdapter>Draco.DB.QuickDataBase.SqlClient.SqlServerAdapter,Draco.DB.QuickDataBase</DbAdapter>
		</DbProvider>
		<DbProvider>
			<Name>Oracle</Name>
			<DbAdapter>Draco.DB.QuickDataBase.OracleClient.OracleAdapter,Draco.DB.QuickDataBase</DbAdapter>
		</DbProvider>
		<DbProvider>
			<Name>OleDb</Name>
			<DbAdapter>Draco.DB.QuickDataBase.OleClient.OleAdapter,Draco.DB.QuickDataBase</DbAdapter>
		</DbProvider>
		<DbProvider>
			<Name>SQLite</Name>
			<DbAdapter>Draco.DB.QuickDataBase.SqLiteClient.SQLiteAdapter,Draco.DB.QuickDataBase</DbAdapter>
		</DbProvider>
		<DbProvider>
			<Name>SQLSERVERCE</Name>
			<DbAdapter>Draco.DB.QuickDataBase.SqlCeClient.SqlCeAdapter,Draco.DB.QuickDataBase</DbAdapter>
		</DbProvider>
		
	</DbProviders>
</configuration>