<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<DbProviders>
		<DbProvider>
			<Name>SQLServer</Name>
			<DbAdapter>Draco.DB.ORM.SqlServerClient.SQLServerORMAdapter,Draco.DB.ORM</DbAdapter>
		</DbProvider>
		<DbProvider>
			<Name>Oracle</Name>
			<DbAdapter>Draco.DB.ORM.OracleClient.OracleORMAdapter,Draco.DB.ORM</DbAdapter>
		</DbProvider>
		<DbProvider>
			<Name>SQLite</Name>
			<DbAdapter>Draco.DB.ORM.SqLiteClient.SQLiteORMAdapter,Draco.DB.ORM</DbAdapter>
		</DbProvider>
		<DbProvider>
			<Name>SQLSERVERCE</Name>
			<DbAdapter>Draco.DB.ORM.SqlCeClient.SqlCeORMAdapter,Draco.DB.ORM</DbAdapter>
		</DbProvider>		
	</DbProviders>
</configuration>