<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="egov-config" value="conf/Egov.config"/>
		<add key="ConnectionString" value="Data Source=&quot;(local)&quot;;Initial Catalog=&quot;DracoX&quot;;User Id=&quot;sa&quot;;Password=&quot;sa&quot;;"/>
		<add key="DataServerType" value="SQLSERVER"/>
	</appSettings>
	<connectionStrings/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
